
    .footer{
        
        display:flex;
        flex-direction: column;
        
        
        padding-inline: 5%;  
        align-items: center;
        color: white;
        background-color: #4a4a4a;

        
       

    }
  
    
    .footer__section__2__list{
       
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        padding-block: 20px;
        
        
    }
    .footer__section__3__list{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        padding-block: 20px;
    }

    .footer__section__1__list{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        padding-block: 20px;
        text-align: center;
        
       
    }
    

.footer__menupicture{
    width: 10px;
    height: 10px;
}

.list__links{
    text-decoration: none; 
    color: inherit;
    
}