.header{
    background-color: none;
    display: flex;
    justify-content: left;
   
}
.header__menu{
    height: 20px; 
  
    margin: 10px;
}
.header__menu__container{
    background-color:#6c933e ;
    padding: 5px;
}
