.section__1{
    color: #ffffff;
    background-image: url(../images/cover.jpeg);
    background-size: cover; /* Escala la imagen para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: 95%;
    height: 110vh;
    width: 100%;


   

    /*display: flex;
    flex-direction: column; 
    justify-content: center;*/
   
 }
 .section1__tittle{

    padding-top: 180px;
    padding-inline: 50px;
    text-align:center;
    font-size: 30px;  
   
   

    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }   
.section1__tittle__separation__1{
    padding: 5px;
 
}
.section1_text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
   
    font-size:14px;
    margin-top: 6%;
    padding-inline: 50px;
    text-align: center;
     
}
.section1_image{

   width: 38.2px;
   height: 38.2px;
   background-color: #ffffff;
   border-radius: 50%;
   margin: 34px 145px 0 95.9px;
   padding: 15.2px 10.2px 13px 11px;
   margin-top: 5px;
   
}
.foto__position{
    padding-inline: 50px;
}