.section__1{
    color: #ffffff;
    background-image: url(../images/cover.jpeg);
    background-size: cover; /* Escala la imagen para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position-x: 90%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 552px;
    width: 320px;
    

 }
 .section1_tittle{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 30px;
    text-align:center;
    margin-top: 297px;
           
  
}
.section1_text{
    
    
    text-align:center;
    font-size:20px;
    margin-top: 10%;
    height: 50px;
    margin-inline: 34,2px 42,5px;
    width: 243.3px;
    height: 16px;
   
    

   
}
.section1_image{

   width: 38.2px;
   height: 38.2px;
   background-color: #ffffff;
   padding: 8px;
   border-radius: 50%;
   margin-top: 40px;
  
}