<footer class="footer">
  
<div class="footer__container">

    <section class="footer__section__2">
    
        <ul class="footer__section__2__list">
         <li><a class="list__links_1" target="_blank" href="https://adalab.es">ZAPATILLAS</a></li>
         <li><a class="list__links_2" target="_blank" href="https://adalab.es">ROPA</a></li>
         <li><a class="list__links_3" target="_blank" href="https://adalab.es">NIÑO/A</a></li>
         <li><a class="list__links_4" target="_blank" href="https://adalab.es">DESTACADOS</a></li>
         <li><a class="list__links_5" target="_blank" href="https://adalab.es">TIPS</a></li>
       </ul>
    </section> 
    
    <section class="footer__section__3">
        <ul class="footer__section__3__list" >
           <li><a class="list__links" target="_blank" href="https://adalab.es">TWITTER </a></li>
           <li><a class="list__links" target="_blank" href="https://adalab.es">INSTAGRAM</a></li>
           <li><a class="list__links" target="_blank" href="https://adalab.es">YOUTUBE</a></li>
        </ul>
    </section>

    <section class="footer__section__1__list">
      <div>
        <p>&copy; 2024</p>
        <span>we <img  class="footer__menupicture" src="./images/heart.png" alt="icono corazón verde"> run</span> 
      </div>
    </section>

  </footer>
