<footer class="footer">

    <section class="footer__section__1">
      <div>
        <small>copy&2024</small>
        <img class="footer__menupicture" src="./images/heart.png" alt="icono corazón verde">
        <p>we run</p>
      </div>
    </section>

    <section class="footer__section__2">
     <div>
      <ul>
         <li><a target="_blank" href="https://adalab.es">ZAPATILLAS </a></li>
         <li><a target="_blank" href="https://adalab.es">ROPA</a></li>
         <li><a target="_blank" href="https://adalab.es">NIÑO</a></li>
         <li><a target="_blank" href="https://adalab.es">NIÑA</a></li>
      </ul>
     </div>
    </section> 
    
    <section class="footer__section__3">
      <div>
        <ul>
           <li><a target="_blank" href="https://adalab.es">TWITTER </a></li>
           <li><a target="_blank" href="https://adalab.es">INSTAGRAM</a></li>
           <li><a target="_blank" href="https://adalab.es">YOUTUBE</a></li>
        </ul>
      </div>
    </section>

    <img class="footer__img__arrow" src="./images/ico-arrow.svg" alt="icono de la flecha" >
 </footer>
