<main class="main">

    <section class="section__1">
     
      <div class="section1__tittle">
       <p class="section1__tittle__separation__1">COMIENZOS </p>
       <p class="section1__tittle__separation__1">COMPARTIDOS</p>
     </div>

     <span class="section1_text">Todo lo que necesitan para volver al cole con ilusión</span>
     <a href="#section__3__scroll"><img class="section1_image" src="./images/ico-scroll-down.svg" alt="icono de scroll" ></a>
    </section>

    <section class="section__2">
     <p  class="section__2__title">HISTORIAS, MODA Y ROPA DEPORTIVA</p>
     <h1 class="section__2__h1">TU TIENDA DE DEPORTE</h1>
     <p  class="section__2__text">El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</p>
     <button class="section__2__button">Comprar</button>

    </section>

    <section class="section__3">

            <p class="section__3__text">¡Prepáralos con tus marcas favoritas!</p>
            <h2 class="section__3__tittle">VUELTA AL COLE</h2>

       

        <div class="section__3__container">

        <article class="section__3__content">
            <img class="section__3__foto" src="./images/puma-bag.png" alt="foto de niña con mochila puma" >
            <h2 class="section__3__content__text">Mochilas escolares</h2>
        </article>

        <article class="section__3__content">
            <img class="section__3__foto" src="./images/nike-bag.png" alt="foto de niña con mochila nike" >
            <h2 class="section__3__content__text">Estuches</h2>
        </article>

        <article class="section__3__content">
            <img class="section__3__foto" src="./images/colors.png" alt="foto de niño con lápices de colores" >
            <h2 class="section__3__content__text">Bolsas de deporte</h2>
        </article>
    </div>

     
        <button class="button">Empezar ahora</button>

    </section>
   </div>
  </main>